<div class="container-fluid vh-100 d-flex justify-content-center align-items-center bg-secondary-subtle">
  <div class="card shadow" style="width: 100%; max-width: 400px;">
    <div class="card-body p-4">
      <h2 class="card-title text-center mb-4">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
          <label for="login" class="form-label">Login</label>
          <input id="login" type="text" formControlName="login" class="form-control"
                 [ngClass]="{ 'is-invalid': loginForm.controls['login'].invalid && (loginForm.controls['login'].dirty || loginForm.controls['login'].touched) }">
          <div *ngIf="loginForm.controls['login'].invalid && (loginForm.controls['login'].dirty || loginForm.controls['login'].touched)" class="invalid-feedback">
            <span *ngIf="loginForm.controls['login'].errors?.['required']">O login é obrigatório.</span>
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input id="password" type="password" formControlName="password" class="form-control"
                 [ngClass]="{ 'is-invalid': loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched) }">
          <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="invalid-feedback">
            A senha é obrigatória.
          </div>
        </div>

        <div *ngIf="loginError" class="alert alert-danger mt-3">
          {{ loginError }}
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Entrar</button>
        </div>

      </form>
    </div>
  </div>
</div>
